<<<<<<< HEAD
html,
body {
  margin: 0;
  padding: 0;
}
=======
/*
  В целом по стилям все отлично
  Единственное, присмотрись пожалуйста к материалам, которые вам дает академия по поводу того, как правильно оформлять код - https://up.htmlacademy.ru/htmlcss/12/module/2/articles
  Стиль кода академии - https://htmlacademy.github.io/codeguide/

  Я про Порядок свойств
  Все что касается шрифта (font-правила) было бы логичнее расположить рядом
  
*/
>>>>>>> origin/master

body {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans Narrow Bold", Arial, sans-serif;

  color: #000000;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "PT Sans Narrow Bold", Arial, sans-serif;

  color: #000000;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: "PT Sans Narrow Bold", Arial, sans-serif;

  color: #000000;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* префикс inner - внутренние страницы */
.inner-container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  margin-bottom: 60px;
}

  .main-navigation {
    float: left;
    width: 780px;
    min-height: 70px;
  }

  .user-block {
    float: right;
    width: 140px;
    min-height: 70px;
  }

.inner-header {
  margin-bottom: 57px;
}

  .header-logo {
    float: left;
    width: 111px;
    min-height: 70px;
  }

  .inner-navigation {
    float: left;
    width: 640px;
    min-height: 70px;
  }

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

  .features-item {
    float: left;
    width: 300px;
    min-height: 175px;
    margin-right: 20px;
  }

  .features-item:last-child {
    margin-right: 0;
  }

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

  .index-content-left {
    float: left;
    width: 380px;
    min-height: 330px;
  }

  .index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
  }

.shop-header,
.item-header {
  margin-bottom: 52px;
}

  .shop-header-title,
  .item-header-title {
    margin-bottom: 24px;
  }

.shop-content,
.item-content {
  margin-bottom: 50px;
}

.item-content-right {
  float: left;
  width: 385px;
}

.item-content-left {
  margin-right: 90px;
  float: left;
  width: 460px;
}

  .item-gallery-big {
    margin-bottom: 20px;
  }

  .item-gallery-small {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .item-gallery-small:last-child {
    margin-right: 0;
}

.shop-content-left {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.shop-content-right {
  float: left;
  width: 700px;
}

  .shop-content-goods {
    margin-bottom: 25px;
  }

    .goods {
      float: left;      
      width: 220px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .goods:nth-child(3n) {
      margin-right: 0;
    }

  .paginator {
    min-height: 43px;
    margin-bottom: 50px;
  }

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

  .footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 90px;
  }

  .footer-social {
    float: left;
    width: 180px;
    min-height: 90px;
  }

  .footer-copyright {
    float: right;
    width: 180px;
    min-height: 90px;
  }




  

/* ----------- вспомогательные фоны ------------- */
body {
  background: rgba(255, 255, 51, 0.2);
}

h1 {
  background: rgba(255, 255, 51, 0.2);
}

h2 {
  background: rgba(255, 51, 153, 0.2);
}

.container {
  background: rgba(204, 102, 204, 0.2);
}

.inner-container {
  background: rgba(	255, 255, 51, 0.2);
}

.main-header {
  background: rgba(51, 102, 255, 0.2);
}

.inner-header {
  background: rgba(0, 102, 102, 0.2);
}

.header-logo {
  background: rgba(255, 102, 51, 0.2);
}

.main-navigation {
  background: rgba(, 0.2);
}

.inner-navigation {
  background: rgba(153, 0, 255, 0.2);
}

.user-block {
  background: rgba(255, 102, 51, 0.2);
}

.index-logo {
  background: rgba(255, 102, 51, 0.2);
}

.features {
  background: rgba(0, 102, 102, 0.2);
}

.features-item {
  background: rgba(153, 0, 255, 0.2);
}


.index-content {
  background: rgba(255, 102, 51, 0.2);
}

.index-content-left {
  background: rgba(255, 204, 51, 0.2);
}

.index-content-right {
  background: rgba(02, 204, 102, 0.2);
}

.main-footer {
  background: rgba(204, 51, 0, 0.2);
}

.footer-contacts {
  background: rgba(255, 204, 51, 0.2);
}

.footer-social {
  background: rgba(0, 153, 153, 0.2);
}

.footer-copyright {
  background: rgba(02, 204, 102, 0.2);
}

.shop-header,  .item-header {
  background: rgba(204, 51, 0, 0.2);
}

.shop-header-title,  .item-header-title {
  background: rgba(204, 51, 255, 0.2);
}

.shop-content,  .item-content {
  background: rgba(0, 51, 255, 0.2);
}

/* для item */
.item-content-left {
    background: rgba(204, 102, 102, 0.2);
}

.item-content-right {
  background: rgba(255, 204, 0, 0.2);
}

/* для shop */
.shop-content-left {
  background: rgba(255, 204, 0, 0.2);
}

.shop-content-right {
  background: rgba(102, 255, 0, 0.2);
}

.shop-content-goods {
  background: rgba(204, 255, 51, 0.2);
}

.goods {
  background: rgba(51, 153, 255, 0.2);
}

.paginator {
background: rgba(	255, 0, 204, 0.2);
}

