/*
  В целом по стилям все отлично
  Единственное, присмотрись пожалуйста к материалам, которые вам дает академия по поводу того, как правильно оформлять код - https://up.htmlacademy.ru/htmlcss/12/module/2/articles
  Стиль кода академии - https://htmlacademy.github.io/codeguide/

  Я про Порядок свойств
  Все что касается шрифта (font-правила) было бы логичнее расположить рядом
  
*/

body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow Bold", Arial, sans-serif;
}

h1 {
  font-size: 30px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow Bold", Arial, sans-serif;
}

h2 {
  font-size: 24px;
  line-height: normal;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow Bold", Arial, sans-serif;
}